/* Tipografia del contenido */
body {
    font-family: 'Raleway', sans-serif;
    background-color: #f9eee0;
}

/* Tipografia del titulo */
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
}

/* Tipografia de subtitulos */
h1 em {
    font-family: 'Dancing Script', cursive;
    font-size: 2.0rem;
    color: #555;
}

.item img:hover {
    transform: scale(1.05);
}

.item p {
    font-size: 1rem;
    color: #444;
}